.item {
  margin: 1rem 0;
  width:33%;
  display:inline-block;
  
}

.image {
  width: 100%;
  max-height: 300px;
  overflow:visible;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.image img {
  width: 100%;
  object-fit: cover;
}

.content {
  max-height: 300px;
  text-align: center;
  padding: 1rem;
}

.content p {

  color: #eeeeee;

}

.content h3 {
  font-size: 1.25rem;
  color: #eeeeee;
}

.content h4 {
  font-size: 1.25rem;
  color: #eeeeee;
}

.actions {
  padding: 1.5rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
 
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe2ed;
}